.root {
  position: relative;
  right: 60px;
}

.input {
  padding: 10px 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  padding-left: 40px;
  padding-right: 40px;
  width: 300px;

  &::placeholder {
    color: rgba(146, 145, 145, 0.822);
  }

  &:focus {
    border: 2px solid #fe5f1e;
  }
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.7;
  top: 12px;
  left: 12px;
}

.clear {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  top: 12px;
  left: 270px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
